# This is a basic workflow to help you get started with Actions

name: MNIST Endpoint CD

# Controls when the action will run. 
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Check Out Repository
      id: checkout_repository
      uses: actions/checkout@v2

    # Connect to Azure Machine Learning Workspace
    - uses: Azure/aml-workspace@v1
      id: aml_workspace
      with:
        azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

    # Create AKS Compute
    - uses: Azure/aml-compute@v1
      id: aml_compute
      with:
        # required inputs as secrets
        azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
        # optional
        parameters_file: "compute.json"
    
    # Deploy your model to production
    - name: Prod Deploy
      id: aml_prod_deploy
      uses: Azure/aml-deploy@v1
      with:
         azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
         model_name:  "sklearn_mnist"  
         model_version: 1
           parameters_file: "deploy_aks.json"
